html,body{
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background:
        linear-gradient(#e66465, transparent) fixed,
        linear-gradient(to top left, #9198e5, transparent) fixed,
        linear-gradient(to top right, black, transparent) fixed;
    background-blend-mode: screen;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.5em;
}

h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.play-area {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: auto auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid black;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
}

.coin {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: inline-block;
}

button {
  outline: none;
  border-radius: 10px;
  border: 4px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

