html,body{
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f5f5 url(https://mathjs.org/css/img/bright_squares_interlaced.png) repeat;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  margin-bottom: 0.5em;
}

h2 {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.play-area {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: auto auto auto auto;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  border: 1px solid black;
  transition: background 0.2s ease-in-out;
  border-radius: 5px;
}

.coin {
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: inline-block;
}

button {
  outline: none;
  border-radius: 10px;
  border: 4px solid black;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  background: none;
  transition: all 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}






.switch {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34px;
  text-align: right;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(250,128,114,.7);
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  font-weight: bold;
  border-radius: 10px;
}

input:checked + .slider {
  background-color: rgba(50,205,50,.7);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(6px);
  -ms-transform: translateX(6px);
  transform: translateX(35px);
}

.slider:after
{
 content:'2P';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 80%;
 font-size: 12px;
 font-weight: bold;
}

input:checked + .slider:after
{  
 left: 20%;
  content:'AI';
}

